:root{
    --fondo:#1e1e2f;
    --navbar:#151521;
    --verde:#099410;
    --gris:#7c8999;
    --blanco:#ffffff;
    --card:#181616b4;
    --negro:#000000;
}

body{
    margin:0;
    font-family:"Orbitron", sans-serif;
    color:white;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:
        radial-gradient(circle at top, rgba(9,148,16,0.25), transparent 40%),
        radial-gradient(circle at bottom, rgba(0,200,255,0.15), transparent 40%),
        #0f1020;
}

html, body{
    height:100%;
}


/* NAVBAR */
header{
    background:var(--navbar);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}
nav ul{
    display:flex;
    gap:25px;
    list-style:none;
    margin:0;
    padding:0;
}

nav a{
    color:var(--blanco);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color:var(--verde);
    text-shadow: 0 0 10px var(--verde);
}

/* logo */


.logo img{
    width:50px;
    height:50px;
}

.logo h2{
    margin:0;
}


/* SECCIONES */

.seccion{
    min-height:80vh;
    padding:80px 50px;
    text-align:center;
}

.contenido{
    max-width:700px;
    margin:auto;
}

h1{
    font-size:60px;
    color:var(--verde);
}

h2{
    font-size:45px;
}

p{
    color:var(--gris);
    font-size:18px;
}

h1, h2{
    color: var(--negro);
    text-shadow: 0 0 10px rgba(0,255,123,0.4);
}

/* BOTON */

.boton{
    display:inline-block;
    margin-top:25px;
    background:var(--gris);
    color:white;
    padding:12px 25px;
    font-family:"Orbitron", sans-serif;
    text-decoration:none;
}

.boton:hover{
    background:var(--verde);
}



select{
    padding:15px;

    border:none;

    border-radius:10px;

    background:#3b3b58;

    color:white;

    font-family:"Orbitron", sans-serif;
}

/* CARDS */

.cards{
    margin-top:60px;
    
}


.card{
    background:var(--card);
    border-radius:15px;
    border:none;
    transition:0.3s;
}


.card h3{
    color:var(--gris);
}

.card p{
    color:var(--gris);
}


.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:auto;
    object-fit:cover;
}

/* FORMULARIO */

.formulario{
    max-width:600px;
    margin:auto;
    margin-top:50px;
    background:var(--card);
    padding:40px;
    border-radius:15px;
}


input,
textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    font-family:"Orbitron", sans-serif;
    background:#3b3b58;
    color: #ffffff;
}

input::placeholder,
textarea::placeholder{
    color:white;
}


.text{

    background:var(--card);
    border-radius:15px;
}


/* programas */

.estadisticas{
    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:70px;

    flex-wrap:wrap;
}

.estadisticas h2{
    color:var(--verde);

    font-size:40px;

    margin:0;
}

.estadisticas p{
    color:var(--gris);
}


/*destacado*/

.evento-destacado{
    position:relative;
    border-radius:20px;
    overflow:hidden;
    margin:50px auto;
    max-width:1200px;
}

.evento-destacado img{
    width:100%;
    height:450px;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:20px;
}

.overlay h2{
    font-size:60px;
    margin-bottom:10px;
    color:var(--blanco);
}

.overlay p{
    color:white;
    font-size:20px;
}

.badge-evento{
    background:var(--verde);
    color:white;
    padding:10px 20px;
    border-radius:30px;
    margin-bottom:20px;
}

.evento-destacado .overlay p{
    color: #d1d5db;
}
/* FOOTER */

footer{
    background:var(--navbar);
    text-align:center;
    padding:15px;
    color:var(--verde);
    margin-top:auto;
}

.frase{
    color:var(--verde);

    font-size:28px;
}

.hero-qs{
    height:300px;
    background:url("../imagenes/fondo.jfif") center/cover no-repeat;
    position:relative;
    margin-bottom:40px;
}

.overlay-qs{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.6);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay-qs h1{
    font-size:60px;
    text-shadow:0 0 15px rgba(0,255,123,0.4);
}

.overlay-qs p{
    color:var(--gris);
}
